In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

Data Preprocessing
Loading dataset

In [6]:
profiles = pd.read_csv('data/profiles.csv')
animes = pd.read_csv('data/animes.csv')
reviews = pd.read_csv('data/reviews.csv')

In [7]:
# Checking the columns of the dataset
print("Profiles columns:", profiles.columns)
print("Animes columns:", animes.columns)
print("Reviews columns:", reviews.columns)

Profiles columns: Index(['profile', 'gender', 'birthday', 'favorites_anime', 'link'], dtype='object')
Animes columns: Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score', 'img_url', 'link'],
      dtype='object')
Reviews columns: Index(['uid', 'profile', 'anime_uid', 'text', 'score', 'scores', 'link'], dtype='object')

In [8]:
# Merging datasets:
try:
    merged_data = pd.merge(animes, reviews, on='uid', how='inner')
    merged_data = pd.merge(merged_data, profiles, on='profile', how='inner')

    print("Merge successful!")
    print("Merged dataset:")
    print(merged_data.head())
except KeyError as e:
    print("KeyError:", e)

Merge successful!
Merged dataset:
     uid                    title  \
0  23273  Shigatsu wa Kimi no Uso
1  23273  Shigatsu wa Kimi no Uso
2  23273  Shigatsu wa Kimi no Uso
3  23273  Shigatsu wa Kimi no Uso
4  23273  Shigatsu wa Kimi no Uso

                                            synopsis  \
0  Music accompanies the path of the human metron...
1  Music accompanies the path of the human metron...
2  Music accompanies the path of the human metron...
3  Music accompanies the path of the human metron...
4  Music accompanies the path of the human metron...

                                               genre  \
0  ['Drama', 'Music', 'Romance', 'School', 'Shoun...
1  ['Drama', 'Music', 'Romance', 'School', 'Shoun...
2  ['Drama', 'Music', 'Romance', 'School', 'Shoun...
3  ['Drama', 'Music', 'Romance', 'School', 'Shoun...
4  ['Drama', 'Music', 'Romance', 'School', 'Shoun...

                          aired  episodes  members  popularity  ranked  \
0  Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
1  Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
2  Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
3  Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
4  Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0

   score_x  ... profile anime_uid  \
0     8.83  ...  itaeon      6811
1     8.83  ...  itaeon      6811
2     8.83  ...  itaeon      6811
3     8.83  ...  itaeon      6811
4     8.83  ...  itaeon      6811

                                                text  score_y  \
0  \n           \n         \n           \n       ...       10
1  \n           \n         \n           \n       ...       10
2  \n           \n         \n           \n       ...       10
3  \n           \n         \n           \n       ...       10
4  \n           \n         \n           \n       ...       10

                                              scores  \
0  {'Overall': '10', 'Story': '9', 'Animation': '...
1  {'Overall': '10', 'Story': '9', 'Animation': '...
2  {'Overall': '10', 'Story': '9', 'Animation': '...
3  {'Overall': '10', 'Story': '9', 'Animation': '...
4  {'Overall': '10', 'Story': '9', 'Animation': '...

                                         link_y  gender birthday  \
0  https://myanimelist.net/reviews.php?id=23273  Female    Jan 4
1  https://myanimelist.net/reviews.php?id=23273  Female    Jan 4
2  https://myanimelist.net/reviews.php?id=23273  Female    Jan 4
3  https://myanimelist.net/reviews.php?id=23273  Female    Jan 4
4  https://myanimelist.net/reviews.php?id=23273  Female    Jan 4

                             favorites_anime  \
0  ['12531', '11843', '11771', '457', '249']
1  ['12531', '11843', '11771', '457', '249']
2  ['12531', '11843', '11771', '457', '249']
3  ['12531', '11843', '11771', '457', '249']
4  ['12531', '11843', '11771', '457', '249']

                                     link
0  https://myanimelist.net/profile/itaeon
1  https://myanimelist.net/profile/itaeon
2  https://myanimelist.net/profile/itaeon
3  https://myanimelist.net/profile/itaeon
4  https://myanimelist.net/profile/itaeon

[5 rows x 22 columns]

Cleaning the merged dataset
Checking for missing values in the merged DataFrame

In [9]:
        
rows, columns = merged_data.shape
print("Number of rows:", rows)
print("Number of columns:", columns)
print(merged_data.columns)

Number of rows: 31738
Number of columns: 22
Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score_x', 'img_url', 'link_x', 'profile',
       'anime_uid', 'text', 'score_y', 'scores', 'link_y', 'gender',
       'birthday', 'favorites_anime', 'link'],
      dtype='object')

In [10]:
missing_values = merged_data.isnull().sum()
print(missing_values)

uid                   0
title                 0
synopsis           1306
genre                 0
aired                 0
episodes            821
members               0
popularity            0
ranked             4789
score_x             661
img_url             206
link_x                0
profile               0
anime_uid             0
text                  0
score_y               0
scores                0
link_y                0
gender             5153
birthday           8038
favorites_anime       0
link                  0
dtype: int64

In [11]:
merged_data.nunique()
merged_data.info()
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31738 entries, 0 to 31737
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              31738 non-null  int64
 1   title            31738 non-null  object
 2   synopsis         30432 non-null  object
 3   genre            31738 non-null  object
 4   aired            31738 non-null  object
 5   episodes         30917 non-null  float64
 6   members          31738 non-null  int64
 7   popularity       31738 non-null  int64
 8   ranked           26949 non-null  float64
 9   score_x          31077 non-null  float64
 10  img_url          31532 non-null  object
 11  link_x           31738 non-null  object
 12  profile          31738 non-null  object
 13  anime_uid        31738 non-null  int64
 14  text             31738 non-null  object
 15  score_y          31738 non-null  int64
 16  scores           31738 non-null  object
 17  link_y           31738 non-null  object
 18  gender           26585 non-null  object
 19  birthday         23700 non-null  object
 20  favorites_anime  31738 non-null  object
 21  link             31738 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 5.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31738 entries, 0 to 31737
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              31738 non-null  int64
 1   title            31738 non-null  object
 2   synopsis         30432 non-null  object
 3   genre            31738 non-null  object
 4   aired            31738 non-null  object
 5   episodes         30917 non-null  float64
 6   members          31738 non-null  int64
 7   popularity       31738 non-null  int64
 8   ranked           26949 non-null  float64
 9   score_x          31077 non-null  float64
 10  img_url          31532 non-null  object
 11  link_x           31738 non-null  object
 12  profile          31738 non-null  object
 13  anime_uid        31738 non-null  int64
 14  text             31738 non-null  object
 15  score_y          31738 non-null  int64
 16  scores           31738 non-null  object
 17  link_y           31738 non-null  object
 18  gender           26585 non-null  object
 19  birthday         23700 non-null  object
 20  favorites_anime  31738 non-null  object
 21  link             31738 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 5.3+ MB
None

In [12]:

# Converting 'birthday' column to datetime data type and handling errors
merged_data['birthday'] = pd.to_datetime(merged_data['birthday'], format='%b %d, %Y', errors='coerce')
print(merged_data['birthday'])
# By setting errors='coerce', the function will replace the problematic date strings with NaT values.

0              NaT
1              NaT
2              NaT
3              NaT
4              NaT
           ...
31733          NaT
31734          NaT
31735          NaT
31736   1996-01-10
31737   1996-01-10
Name: birthday, Length: 31738, dtype: datetime64[ns]

In [13]:
# Calculating the age based on current date
current_date = datetime.now()
merged_data['age'] = (current_date - merged_data['birthday']) // pd.Timedelta(days=365)
print(merged_data)

         uid                                              title  \
0      23273                            Shigatsu wa Kimi no Uso
1      23273                            Shigatsu wa Kimi no Uso
2      23273                            Shigatsu wa Kimi no Uso
3      23273                            Shigatsu wa Kimi no Uso
4      23273                            Shigatsu wa Kimi no Uso
...      ...                                                ...
31733  35828                                   Miira no Kaikata
31734  35828                                   Miira no Kaikata
31735  35828                                   Miira no Kaikata
31736  16934  Chuunibyou demo Koi ga Shitai!: Kirameki no......
31737  16934  Chuunibyou demo Koi ga Shitai!: Kirameki no......

                                                synopsis  \
0      Music accompanies the path of the human metron...
1      Music accompanies the path of the human metron...
2      Music accompanies the path of the human metron...
3      Music accompanies the path of the human metron...
4      Music accompanies the path of the human metron...
...                                                  ...
31733  High school student Sora Kashiwagi is accustom...
31734  High school student Sora Kashiwagi is accustom...
31735  High school student Sora Kashiwagi is accustom...
31736  Although Yuuta Togashi and Rikka Takanashi hav...
31737  Although Yuuta Togashi and Rikka Takanashi hav...

                                                   genre  \
0      ['Drama', 'Music', 'Romance', 'School', 'Shoun...
1      ['Drama', 'Music', 'Romance', 'School', 'Shoun...
2      ['Drama', 'Music', 'Romance', 'School', 'Shoun...
3      ['Drama', 'Music', 'Romance', 'School', 'Shoun...
4      ['Drama', 'Music', 'Romance', 'School', 'Shoun...
...                                                  ...
31733        ['Slice of Life', 'Comedy', 'Supernatural']
31734        ['Slice of Life', 'Comedy', 'Supernatural']
31735        ['Slice of Life', 'Comedy', 'Supernatural']
31736  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...
31737  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...

                              aired  episodes  members  popularity  ranked  \
0      Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
1      Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
2      Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
3      Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
4      Oct 10, 2014 to Mar 20, 2015      22.0   995473          28    24.0
...                             ...       ...      ...         ...     ...
31733  Jan 12, 2018 to Mar 30, 2018      12.0    61459        1648  1727.0
31734  Jan 12, 2018 to Mar 30, 2018      12.0    61459        1648  1727.0
31735  Jan 12, 2018 to Mar 30, 2018      12.0    61459        1648  1727.0
31736                  Jun 19, 2013       1.0   128400         883  1533.0
31737                  Jun 19, 2013       1.0   128400         883  1533.0

       score_x  ... anime_uid  \
0         8.83  ...      6811
1         8.83  ...      6811
2         8.83  ...      6811
3         8.83  ...      6811
4         8.83  ...      6811
...        ...  ...       ...
31733     7.50  ...      4181
31734     7.50  ...      4181
31735     7.50  ...      4181
31736     7.56  ...        17
31737     7.56  ...        17

                                                    text score_y  \
0      \n           \n         \n           \n       ...      10
1      \n           \n         \n           \n       ...      10
2      \n           \n         \n           \n       ...      10
3      \n           \n         \n           \n       ...      10
4      \n           \n         \n           \n       ...      10
...                                                  ...     ...
31733  \n           \n         \n           \n       ...      10
31734  \n           \n         \n           \n       ...      10
31735  \n           \n         \n           \n       ...      10
31736  \n           \n         \n           \n       ...      10
31737  \n           \n         \n           \n       ...      10

                                                  scores  \
0      {'Overall': '10', 'Story': '9', 'Animation': '...
1      {'Overall': '10', 'Story': '9', 'Animation': '...
2      {'Overall': '10', 'Story': '9', 'Animation': '...
3      {'Overall': '10', 'Story': '9', 'Animation': '...
4      {'Overall': '10', 'Story': '9', 'Animation': '...
...                                                  ...
31733  {'Overall': '10', 'Story': '10', 'Animation': ...
31734  {'Overall': '10', 'Story': '10', 'Animation': ...
31735  {'Overall': '10', 'Story': '10', 'Animation': ...
31736  {'Overall': '10', 'Story': '9', 'Animation': '...
31737  {'Overall': '10', 'Story': '9', 'Animation': '...

                                             link_y  gender   birthday  \
0      https://myanimelist.net/reviews.php?id=23273  Female        NaT
1      https://myanimelist.net/reviews.php?id=23273  Female        NaT
2      https://myanimelist.net/reviews.php?id=23273  Female        NaT
3      https://myanimelist.net/reviews.php?id=23273  Female        NaT
4      https://myanimelist.net/reviews.php?id=23273  Female        NaT
...                                             ...     ...        ...
31733  https://myanimelist.net/reviews.php?id=35828    Male        NaT
31734  https://myanimelist.net/reviews.php?id=35828    Male        NaT
31735  https://myanimelist.net/reviews.php?id=35828    Male        NaT
31736  https://myanimelist.net/reviews.php?id=16934  Female 1996-01-10
31737  https://myanimelist.net/reviews.php?id=16934  Female 1996-01-10

                                 favorites_anime  \
0      ['12531', '11843', '11771', '457', '249']
1      ['12531', '11843', '11771', '457', '249']
2      ['12531', '11843', '11771', '457', '249']
3      ['12531', '11843', '11771', '457', '249']
4      ['12531', '11843', '11771', '457', '249']
...                                          ...
31733    ['811', '1735', '2167', '9513', '9919']
31734    ['811', '1735', '2167', '9513', '9919']
31735    ['811', '1735', '2167', '9513', '9919']
31736       ['957', '5835', '4898', '136', '17']
31737       ['957', '5835', '4898', '136', '17']

                                              link   age
0           https://myanimelist.net/profile/itaeon   NaN
1           https://myanimelist.net/profile/itaeon   NaN
2           https://myanimelist.net/profile/itaeon   NaN
3           https://myanimelist.net/profile/itaeon   NaN
4           https://myanimelist.net/profile/itaeon   NaN
...                                            ...   ...
31733  https://myanimelist.net/profile/Ryuu_Hatake   NaN
31734  https://myanimelist.net/profile/Ryuu_Hatake   NaN
31735  https://myanimelist.net/profile/Ryuu_Hatake   NaN
31736   https://myanimelist.net/profile/FallenHope  28.0
31737   https://myanimelist.net/profile/FallenHope  28.0

[31738 rows x 23 columns]

In [14]:
# Remove rows where age couldn't be calculated
merged_data.dropna(subset=['age'], inplace=True)

In [15]:
#Calculating the mean age
mean_age = merged_data['age'].mean()
print("Mean Age:", mean_age)

Mean Age: 34.95822316234796

In [16]:
# Filling the missing values in the 'age' column with the mean age
merged_data['age'].fillna(mean_age, inplace=True)
print(merged_data)

         uid                                              title  \
16     34599                                      Made in Abyss
17     34599                                      Made in Abyss
18     34599                                      Made in Abyss
19     34599                                      Made in Abyss
20     32762                                            Circles
...      ...                                                ...
31727  24625                          Gundam Build Fighters Try
31728  24625                          Gundam Build Fighters Try
31731  10075                                        Naruto x UT
31736  16934  Chuunibyou demo Koi ga Shitai!: Kirameki no......
31737  16934  Chuunibyou demo Koi ga Shitai!: Kirameki no......

                                                synopsis  \
16     The Abyss—a gaping chasm stretching down into ...
17     The Abyss—a gaping chasm stretching down into ...
18     The Abyss—a gaping chasm stretching down into ...
19     The Abyss—a gaping chasm stretching down into ...
20           A music video for DOIMOI's song "Circles."
...                                                  ...
31727  The story of Gundam Build Fighters Try is set ...
31728  The story of Gundam Build Fighters Try is set ...
31731  All-new animation offered throughout UNIQLO cl...
31736  Although Yuuta Togashi and Rikka Takanashi hav...
31737  Although Yuuta Togashi and Rikka Takanashi hav...

                                                   genre  \
16     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...
17     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...
18     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...
19     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...
20                                             ['Music']
...                                                  ...
31727                      ['Action', 'Sci-Fi', 'Mecha']
31728                      ['Action', 'Sci-Fi', 'Mecha']
31731  ['Action', 'Comedy', 'Super Power', 'Martial A...
31736  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...
31737  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...

                             aired  episodes  members  popularity   ranked  \
16     Jul 7, 2017 to Sep 29, 2017      13.0   581663          98     23.0
17     Jul 7, 2017 to Sep 29, 2017      13.0   581663          98     23.0
18     Jul 7, 2017 to Sep 29, 2017      13.0   581663          98     23.0
19     Jul 7, 2017 to Sep 29, 2017      13.0   581663          98     23.0
20                    Jul 10, 2012       1.0      181       13735  10528.0
...                            ...       ...      ...         ...      ...
31727   Oct 8, 2014 to Apr 1, 2015      25.0    29241        2613   2277.0
31728   Oct 8, 2014 to Apr 1, 2015      25.0    29241        2613   2277.0
31731                  Jan 1, 2011       1.0    34155        2382   1728.0
31736                 Jun 19, 2013       1.0   128400         883   1533.0
31737                 Jun 19, 2013       1.0   128400         883   1533.0

       score_x  ... anime_uid  \
16        8.83  ...      4744
17        8.83  ...      4744
18        8.83  ...      4744
19        8.83  ...      4744
20        5.23  ...      1221
...        ...  ...       ...
31727     7.36  ...       463
31728     7.36  ...       463
31731     7.50  ...      3467
31736     7.56  ...        17
31737     7.56  ...        17

                                                    text score_y  \
16     \n           \n         \n           \n       ...      10
17     \n           \n         \n           \n       ...      10
18     \n           \n         \n           \n       ...      10
19     \n           \n         \n           \n       ...      10
20     \n           \n         \n           \n       ...       7
...                                                  ...     ...
31727  \n           \n         \n           \n       ...       2
31728  \n           \n         \n           \n       ...       2
31731  \n           \n         \n           \n       ...       8
31736  \n           \n         \n           \n       ...      10
31737  \n           \n         \n           \n       ...      10

                                                  scores  \
16     {'Overall': '10', 'Story': '10', 'Animation': ...
17     {'Overall': '10', 'Story': '10', 'Animation': ...
18     {'Overall': '10', 'Story': '10', 'Animation': ...
19     {'Overall': '10', 'Story': '10', 'Animation': ...
20     {'Overall': '7', 'Story': '7', 'Animation': '3...
...                                                  ...
31727  {'Overall': '2', 'Story': '1', 'Animation': '6...
31728  {'Overall': '2', 'Story': '1', 'Animation': '6...
31731  {'Overall': '8', 'Story': '7', 'Animation': '8...
31736  {'Overall': '10', 'Story': '9', 'Animation': '...
31737  {'Overall': '10', 'Story': '9', 'Animation': '...

                                             link_y  gender   birthday  \
16     https://myanimelist.net/reviews.php?id=34599  Female 1997-01-28
17     https://myanimelist.net/reviews.php?id=34599  Female 1997-01-28
18     https://myanimelist.net/reviews.php?id=34599  Female 1997-01-28
19     https://myanimelist.net/reviews.php?id=34599  Female 1997-01-28
20     https://myanimelist.net/reviews.php?id=32762  Female 1997-01-28
...                                             ...     ...        ...
31727  https://myanimelist.net/reviews.php?id=24625  Female 1990-01-08
31728  https://myanimelist.net/reviews.php?id=24625  Female 1990-01-08
31731  https://myanimelist.net/reviews.php?id=10075    Male 1992-02-02
31736  https://myanimelist.net/reviews.php?id=16934  Female 1996-01-10
31737  https://myanimelist.net/reviews.php?id=16934  Female 1996-01-10

                                 favorites_anime  \
16              ['4224', '355', '6', '1', '934']
17              ['4224', '355', '6', '1', '934']
18              ['4224', '355', '6', '1', '934']
19              ['4224', '355', '6', '1', '934']
20              ['4224', '355', '6', '1', '934']
...                                          ...
31727  ['918', '2251', '2246', '12189', '31240']
31728  ['918', '2251', '2246', '12189', '31240']
31731               ['857', '3731', '53', '269']
31736       ['957', '5835', '4898', '136', '17']
31737       ['957', '5835', '4898', '136', '17']

                                               link   age
16     https://myanimelist.net/profile/Drumming1997  27.0
17     https://myanimelist.net/profile/Drumming1997  27.0
18     https://myanimelist.net/profile/Drumming1997  27.0
19     https://myanimelist.net/profile/Drumming1997  27.0
20     https://myanimelist.net/profile/Drumming1997  27.0
...                                             ...   ...
31727       https://myanimelist.net/profile/firerez  34.0
31728       https://myanimelist.net/profile/firerez  34.0
31731        https://myanimelist.net/profile/4ngs4u  32.0
31736    https://myanimelist.net/profile/FallenHope  28.0
31737    https://myanimelist.net/profile/FallenHope  28.0

[17019 rows x 23 columns]

In [17]:
# Checking for and handling any outliers or unrealistic age values if necessary
# Example: Assuming ages above 100 or below 10 are unrealistic for your dataset
merged_data = merged_data[(merged_data['age'] <= 100) & (merged_data['age'] >= 10)]

In [18]:
# Droping unnecessary columns from merged_data
columns_to_drop = ['favorites_anime', 'link',  'score_y', 'score_x',
                   'title', 'synopsis', 'aired', 'episodes', 'members',  
                   'popularity', 'ranked', 'score', 'img_url', 
                   'text', 'score', 'scores',  'link_y', 'link_x', 
                   'uid', 'anime_uid', 'profile' , 'birthday'
                  ]

merged_data.drop(columns=columns_to_drop, inplace=True, errors='ignore') 
print(merged_data.head())

                                                genre  gender   age
16  ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
17  ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
18  ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
19  ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
20                                          ['Music']  Female  27.0

In [19]:
# Calculating the mode of gender
mode_gender = merged_data['gender'].mode()[0]
print(mode_gender)

Male

In [20]:

# Filling missing values in the 'gender' columnn with mode gender
merged_data['gender'].fillna(mode_gender, inplace=True)
merged_data.describe()

                age
count  17006.000000
mean      34.978655
std        6.974711
min       11.000000
25%       31.000000
50%       34.000000
75%       37.000000
max       94.000000

In [21]:
print(merged_data)

                                                   genre  gender   age
16     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
17     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
18     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
19     ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...  Female  27.0
20                                             ['Music']  Female  27.0
...                                                  ...     ...   ...
31727                      ['Action', 'Sci-Fi', 'Mecha']  Female  34.0
31728                      ['Action', 'Sci-Fi', 'Mecha']  Female  34.0
31731  ['Action', 'Comedy', 'Super Power', 'Martial A...    Male  32.0
31736  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...  Female  28.0
31737  ['Comedy', 'Drama', 'Romance', 'School', 'Slic...  Female  28.0

[17006 rows x 3 columns]

In [22]:
# Replace inconsistent/ duplicate genre values
merged_data['genre'] = merged_data['genre'].str.replace("'", "").str.strip()
print(merged_data.columns)

Index(['genre', 'gender', 'age'], dtype='object')

In [23]:
# Droping unnecessary columns from merged_data
columns_to_drop = ['favorites_anime', 'link',  'score_y', 'score_x',
                   'title', 'synopsis', 'aired', 'episodes', 'members',  
                   'popularity', 'ranked', 'score', 'img_url', 
                   'text', 'score', 'scores',  'link_y', 'link_x', 
                   'uid', 'anime_uid', 'profile' , 'birthday'
                  ]

merged_data.drop(columns=columns_to_drop, inplace=True, errors='ignore') 
print(merged_data.head())

                                           genre  gender   age
16  [Sci-Fi, Adventure, Mystery, Drama, Fantasy]  Female  27.0
17  [Sci-Fi, Adventure, Mystery, Drama, Fantasy]  Female  27.0
18  [Sci-Fi, Adventure, Mystery, Drama, Fantasy]  Female  27.0
19  [Sci-Fi, Adventure, Mystery, Drama, Fantasy]  Female  27.0
20                                       [Music]  Female  27.0

In [24]:
# Spliting genres into individual columns
# Assuming the 'genre' column in `merged_data` contains genres separated by commas
genre_dummies = merged_data['genre'].str.get_dummies(sep=',')
merged_df = pd.concat([merged_data, genre_dummies], axis=1)

In [25]:
# Converting column names to lowercase
genre_dummies.columns = genre_dummies.columns.str.lower()

In [26]:

# Cleaning whitespaces in genres
genre_dummies.columns = genre_dummies.columns.str.strip()

# Removing brackets and single quotes from column names
genre_dummies.columns = genre_dummies.columns.str.strip("[]'")

In [27]:
# Removing duplicate columns
genre_dummies = genre_dummies.loc[:, ~genre_dummies.columns.duplicated()]

In [28]:
#Checking the unique genre column names
unique_genres = genre_dummies.columns.unique()
print(unique_genres)

Index(['adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi',
       'fantasy', 'game', 'harem', 'hentai', 'historical', 'horror', 'josei',
       'kids', 'magic', 'martial arts', 'mecha', 'military', 'music',
       'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai',
       'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo ai', 'shounen',
       'shounen ai', 'slice of life', 'space', 'sports', 'super power',
       'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri', 'action', ''],
      dtype='object')

In [29]:

# Summing columns with duplicate names
genre_dummies = genre_dummies.groupby(level=0, axis=1).sum()
print(genre_dummies)

          action  adventure  cars  comedy  dementia  demons  drama  ecchi  \
16     0       0          1     0       0         0       0      1      0
17     0       0          1     0       0         0       0      1      0
18     0       0          1     0       0         0       0      1      0
19     0       0          1     0       0         0       0      1      0
20     0       0          0     0       0         0       0      0      0
...   ..     ...        ...   ...     ...       ...     ...    ...    ...
31727  0       1          0     0       0         0       0      0      0
31728  0       1          0     0       0         0       0      0      0
31731  0       1          0     0       1         0       0      0      0
31736  0       0          0     0       0         0       0      1      0
31737  0       0          0     0       0         0       0      1      0

       fantasy  ...  shounen ai  slice of life  space  sports  super power  \
16           0  ...           0              0      0       0            0
17           0  ...           0              0      0       0            0
18           0  ...           0              0      0       0            0
19           0  ...           0              0      0       0            0
20           0  ...           0              0      0       0            0
...        ...  ...         ...            ...    ...     ...          ...
31727        0  ...           0              0      0       0            0
31728        0  ...           0              0      0       0            0
31731        0  ...           0              0      0       0            1
31736        0  ...           0              0      0       0            0
31737        0  ...           0              0      0       0            0

       supernatural  thriller  vampire  yaoi  yuri
16                0         0        0     0     0
17                0         0        0     0     0
18                0         0        0     0     0
19                0         0        0     0     0
20                0         0        0     0     0
...             ...       ...      ...   ...   ...
31727             0         0        0     0     0
31728             0         0        0     0     0
31731             0         0        0     0     0
31736             0         0        0     0     0
31737             0         0        0     0     0

[17006 rows x 44 columns]

In [30]:
# Sorting columns alphabetically
genre_dummies = genre_dummies.reindex(sorted(genre_dummies.columns), axis=1)

In [31]:

# Removing unwanted characters from the column names
genre_dummies.columns = genre_dummies.columns.str.replace('[\[\]]', '', regex=True)

# Fixing any potential duplicates due to this cleanup (e.g., "adventure " and "adventure")
genre_dummies = genre_dummies.groupby(genre_dummies.columns, axis=1).sum()

In [32]:
# Droping any unnamed or empty columns if they exist
genre_dummies= genre_dummies.loc[:, ~genre_dummies.columns.str.contains('^Unnamed')]
# Removing columns with empty names
genre_dummies = genre_dummies.loc[:, ~genre_dummies.columns.str.match('^$')]

In [33]:

# Displaying the cleaned genre_dummies DataFrame
print(genre_dummies)
print(genre_dummies.columns)

       action  adventure  cars  comedy  dementia  demons  drama  ecchi  \
16          0          1     0       0         0       0      1      0
17          0          1     0       0         0       0      1      0
18          0          1     0       0         0       0      1      0
19          0          1     0       0         0       0      1      0
20          0          0     0       0         0       0      0      0
...       ...        ...   ...     ...       ...     ...    ...    ...
31727       1          0     0       0         0       0      0      0
31728       1          0     0       0         0       0      0      0
31731       1          0     0       1         0       0      0      0
31736       0          0     0       0         0       0      1      0
31737       0          0     0       0         0       0      1      0

       fantasy  game  ...  shounen ai  slice of life  space  sports  \
16           0     0  ...           0              0      0       0
17           0     0  ...           0              0      0       0
18           0     0  ...           0              0      0       0
19           0     0  ...           0              0      0       0
20           0     0  ...           0              0      0       0
...        ...   ...  ...         ...            ...    ...     ...
31727        0     0  ...           0              0      0       0
31728        0     0  ...           0              0      0       0
31731        0     0  ...           0              0      0       0
31736        0     0  ...           0              0      0       0
31737        0     0  ...           0              0      0       0

       super power  supernatural  thriller  vampire  yaoi  yuri
16               0             0         0        0     0     0
17               0             0         0        0     0     0
18               0             0         0        0     0     0
19               0             0         0        0     0     0
20               0             0         0        0     0     0
...            ...           ...       ...      ...   ...   ...
31727            0             0         0        0     0     0
31728            0             0         0        0     0     0
31731            1             0         0        0     0     0
31736            0             0         0        0     0     0
31737            0             0         0        0     0     0

[17006 rows x 43 columns]
Index(['action', 'adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama',
       'ecchi', 'fantasy', 'game', 'harem', 'hentai', 'historical', 'horror',
       'josei', 'kids', 'magic', 'martial arts', 'mecha', 'military', 'music',
       'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai',
       'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo ai', 'shounen',
       'shounen ai', 'slice of life', 'space', 'sports', 'super power',
       'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri'],
      dtype='object')

In [34]:
# Extracting age column from merged_data
age_column = merged_data['age']
print(age_column)

16       27.0
17       27.0
18       27.0
19       27.0
20       27.0
         ...
31727    34.0
31728    34.0
31731    32.0
31736    28.0
31737    28.0
Name: age, Length: 17006, dtype: float64

In [35]:

# Concatenating genre_dummies and age_column along the columns axis (axis=1)
df = pd.concat([ age_column, genre_dummies], axis=1)
print(df)

        age  action  adventure  cars  comedy  dementia  demons  drama  ecchi  \
16     27.0       0          1     0       0         0       0      1      0
17     27.0       0          1     0       0         0       0      1      0
18     27.0       0          1     0       0         0       0      1      0
19     27.0       0          1     0       0         0       0      1      0
20     27.0       0          0     0       0         0       0      0      0
...     ...     ...        ...   ...     ...       ...     ...    ...    ...
31727  34.0       1          0     0       0         0       0      0      0
31728  34.0       1          0     0       0         0       0      0      0
31731  32.0       1          0     0       1         0       0      0      0
31736  28.0       0          0     0       0         0       0      1      0
31737  28.0       0          0     0       0         0       0      1      0

       fantasy  ...  shounen ai  slice of life  space  sports  super power  \
16           0  ...           0              0      0       0            0
17           0  ...           0              0      0       0            0
18           0  ...           0              0      0       0            0
19           0  ...           0              0      0       0            0
20           0  ...           0              0      0       0            0
...        ...  ...         ...            ...    ...     ...          ...
31727        0  ...           0              0      0       0            0
31728        0  ...           0              0      0       0            0
31731        0  ...           0              0      0       0            1
31736        0  ...           0              0      0       0            0
31737        0  ...           0              0      0       0            0

       supernatural  thriller  vampire  yaoi  yuri
16                0         0        0     0     0
17                0         0        0     0     0
18                0         0        0     0     0
19                0         0        0     0     0
20                0         0        0     0     0
...             ...       ...      ...   ...   ...
31727             0         0        0     0     0
31728             0         0        0     0     0
31731             0         0        0     0     0
31736             0         0        0     0     0
31737             0         0        0     0     0

[17006 rows x 44 columns]

In [36]:
# Checking for missing values
print(df.isnull().sum())

age              0
action           0
adventure        0
cars             0
comedy           0
dementia         0
demons           0
drama            0
ecchi            0
fantasy          0
game             0
harem            0
hentai           0
historical       0
horror           0
josei            0
kids             0
magic            0
martial arts     0
mecha            0
military         0
music            0
mystery          0
parody           0
police           0
psychological    0
romance          0
samurai          0
school           0
sci-fi           0
seinen           0
shoujo           0
shoujo ai        0
shounen          0
shounen ai       0
slice of life    0
space            0
sports           0
super power      0
supernatural     0
thriller         0
vampire          0
yaoi             0
yuri             0
dtype: int64

In [37]:
print(df.head())

     age  action  adventure  cars  comedy  dementia  demons  drama  ecchi  \
16  27.0       0          1     0       0         0       0      1      0
17  27.0       0          1     0       0         0       0      1      0
18  27.0       0          1     0       0         0       0      1      0
19  27.0       0          1     0       0         0       0      1      0
20  27.0       0          0     0       0         0       0      0      0

    fantasy  ...  shounen ai  slice of life  space  sports  super power  \
16        0  ...           0              0      0       0            0
17        0  ...           0              0      0       0            0
18        0  ...           0              0      0       0            0
19        0  ...           0              0      0       0            0
20        0  ...           0              0      0       0            0

    supernatural  thriller  vampire  yaoi  yuri
16             0         0        0     0     0
17             0         0        0     0     0
18             0         0        0     0     0
19             0         0        0     0     0
20             0         0        0     0     0

[5 rows x 44 columns]

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 17006 entries, 16 to 31737
Data columns (total 44 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            17006 non-null  float64
 1   action         17006 non-null  int64
 2   adventure      17006 non-null  int64
 3   cars           17006 non-null  int64
 4   comedy         17006 non-null  int64
 5   dementia       17006 non-null  int64
 6   demons         17006 non-null  int64
 7   drama          17006 non-null  int64
 8   ecchi          17006 non-null  int64
 9   fantasy        17006 non-null  int64
 10  game           17006 non-null  int64
 11  harem          17006 non-null  int64
 12  hentai         17006 non-null  int64
 13  historical     17006 non-null  int64
 14  horror         17006 non-null  int64
 15  josei          17006 non-null  int64
 16  kids           17006 non-null  int64
 17  magic          17006 non-null  int64
 18  martial arts   17006 non-null  int64
 19  mecha          17006 non-null  int64
 20  military       17006 non-null  int64
 21  music          17006 non-null  int64
 22  mystery        17006 non-null  int64
 23  parody         17006 non-null  int64
 24  police         17006 non-null  int64
 25  psychological  17006 non-null  int64
 26  romance        17006 non-null  int64
 27  samurai        17006 non-null  int64
 28  school         17006 non-null  int64
 29  sci-fi         17006 non-null  int64
 30  seinen         17006 non-null  int64
 31  shoujo         17006 non-null  int64
 32  shoujo ai      17006 non-null  int64
 33  shounen        17006 non-null  int64
 34  shounen ai     17006 non-null  int64
 35  slice of life  17006 non-null  int64
 36  space          17006 non-null  int64
 37  sports         17006 non-null  int64
 38  super power    17006 non-null  int64
 39  supernatural   17006 non-null  int64
 40  thriller       17006 non-null  int64
 41  vampire        17006 non-null  int64
 42  yaoi           17006 non-null  int64
 43  yuri           17006 non-null  int64
dtypes: float64(1), int64(43)
memory usage: 5.8 MB
None